.others-container {
  height: 100px;
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 350px;
  background-color: rgba(229, 231, 235, .5);
}