.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 5px;
  background-color: #E5E7EB;
  color: #4B5563;

  &:hover {
    background-color: #F43F5E;
    cursor: pointer;
  }

  .button-items {
    text-align: center;

    &--icon {
      font-size: 20px;
      margin-top: 20px;
      color: #6B7280;
    }

    p {
      margin-top: 5px;
      font-size: 15px;
      font-weight: 600;
    }
  }
}