.canvas-wrapper {
    height: 100%;
    width: 100vw;
    display: grid;
    place-items: center;

    .canvas-border {
        border: 5px solid black;
        border-radius: 15px;
    }

    .canvas {
        display: block;
        background-color: #E5E7EB;
        border-radius: 15px;
    }
}
