.canvas-wrapper {
    height: 100%;
    width: 100vw;
    display: grid;
    place-items: center;

    .canvas-border {
        border: 10px solid black;
    }

    .canvas {
        display: block;
    }
}
