.account-container {
  height: 130px;
  width: 350px;
  border-radius: 5px;
  margin-bottom: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 231, 235, .5);

  // not logged in
  .login-wrapper {
    width: 300px;
    height: 75px;
    padding: 15px;
    box-sizing: content-box;

    .login-button {
      height: 35px;
      width: 100%;
      background-color: #7289da;
      border-radius: 5px;
      border: none;
      color: white;
      font-size: 15px;
      font-weight: 500;

      &:focus {
        outline: none;
      }

      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }

    p {
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #4B5563;
    }
  }
}