.app {
  height: 100%;
  background-size: 200px 150px;
  background-image:
          linear-gradient(to right, #f5f4f4 2px, transparent 2px),
          linear-gradient(to bottom, #f5f4f4 2px, transparent 2px);

  .interface-container {
    height: 100%;
    display: grid;

    .interface {
      place-items: center;
    }
  }

  .panels {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-panel {
    margin-right: 15px;
  }

  .right-panel {
    margin-left: 15px;
  }
}